.content {
    height: calc(100vh - 56px); /* 56px is the default height for bootstrap navbar */
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .content{
        flex-direction: column;
        height: auto;
    }
}