.leftSide {
    height: 100%;
    width: 50vw;
    display: flex;
}

.rightSide {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column; 
}

.rightSide iframe {
    width: 50vw;
    flex: 1; /* Makes all iframes take equal height */
}