<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/baseStyle.css">

  {% block style%}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

  {% block src%}{% endblock %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Farnsworth Fusion Reactor</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Farnsworth Fusion Reactor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'overview' else '' }}" href="/">Übersicht</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'vacuumsystem' else '' }}" href="/vacuumsystem">Vakuumsystem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'highvoltagesystem' else '' }}" href="/highvoltagesystem">Hochspannungssystem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ 'active' if active_page == 'systemstatus' else '' }}" href="/systemstatus">Systemstatus</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="content" id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>

