{% extends "base.html" %}

{% block src%}
<script src="/static/js/highvoltagesystem.js"></script>
{% endblock %}

{% block content %}
    Highvoltagesystem
    <h2>Get All Sensor entries</h2>
    <button type="button" class="btn btn-primary" onclick="getAllSensorData()">Get All</button>
    <div id="getAllData"></div>

    <h2>Create sensor entry</h2>
    <label for="sensorName">Name:</label>
    <input type="text" class="form-control" id="sensorName">
    <label for="sensorValue">Value:</label>
    <input type="text" class="form-control" id="sensorValue">
    <label for="sensorTimestamp">TimeStamp</label>
    <input type="date" class="form-control" id="sensorTimestamp">
    <button type="button" class="btn btn-primary" onclick="createSensorData()">Create Sensor data</button>
{% endblock %}