{% extends "base.html" %}

{% block style%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" />
{% endblock %}

{% block src %}
<script src="../static/js/overview.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gojs@3.0.13/release/go.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
{% endblock %}

{% block content %}
<div id="myDiagramDiv" style="border: solid 1px black; background-color: #151c26; width: 100vw; height: 100vh"></div>
{% endblock %}