{% extends "base.html" %}

{% block content %}
    Systemstatus
    <iframe id="grafana-dashboard" width="450" height="200" frameborder="0"></iframe>

    <script>
        // Define the global JavaScript variable
        const host = window.location.hostname; // Gets the host (IP or domain name)

        // Construct the iframe URL
        const iframeSrc = `http://${host}:3000/d-solo/de90k7hq1xu68f/testdata?orgId=1&from=1737707300052&to=1737728900053&timezone=browser&panelId=1&__feature.dashboardSceneSolo`;

        // Dynamically set the iframe src using the variable
        document.getElementById("grafana-dashboard").src = iframeSrc;
    </script>
{% endblock %}