{% extends "base.html" %}

{% block style%}
<link rel="stylesheet" href="/static/css/vacuumsystemStyle.css">
{% endblock %}

{% block content %}
    <div class="leftSide">
      <div class="control shadow p-4 bg-white rounded">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="Mode" id="Automatic" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="Automatic">Automatic</label>

          <input type="radio" class="btn-check" name="Mode" id="Manual" autocomplete="off">
          <label class="btn btn-outline-primary" for="Manual">Manual</label>
        </div>
      </div>
      <div class="control shadow p-4 bg-white rounded">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="State" id="On" autocomplete="off">
          <label class="btn btn-outline-primary" for="On">Pump On</label>

          <input type="radio" class="btn-check" name="State" id="Off" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="Off">Pump Off</label>
        </div>        
      </div>
      <div class="control shadow p-4 bg-white rounded">
        <div class="input-group" style="justify-content: center;">
          <div class="form-group">
            <label for="sollInput" class="form-label">Soll [mbar]</label>
            <input type="number" id="sollInput" class="form-control" aria-label="Soll">
          </div>
          <div class="form-group">
            <label class="form-label">Ist [mbar]</label>
            <span class="form-control bg-light" style="pointer-events: none;">0</span>
          </div>
        </div>
      </div>
      <div class="control shadow p-4 bg-white rounded">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="start" id="start" autocomplete="off">
          <label class="btn btn-outline-primary" for="start">Start</label>

          <input type="radio" class="btn-check" name="start" id="stop" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="stop">Stop</label>
        </div>  
      </div>
    </div>
    <div class="rightSide">
        <iframe class="shadow bg-white rounded" id="grafana-temp1" width="450" height="200" frameborder="0"></iframe>
        <iframe class="shadow bg-white rounded" id="grafana-temp2" width="450" height="200" frameborder="0"></iframe>
        <iframe class="shadow bg-white rounded" id="grafana-pressure" width="450" height="200" frameborder="0"></iframe>
    </div>

    <script>
        // Define the global JavaScript variable
        const host = window.location.hostname; // Gets the host (IP or domain name)

        // Construct the iframe URL
        const iframeSrcTemp1 = `http://${host}:3000/d-solo/Vacuumsystem?orgId=1&panelId=1`;
        const iframeSrcTemp2 = `http://${host}:3000/d-solo/Vacuumsystem?orgId=1&panelId=2`;
        const iframeSrcPressure = `http://${host}:3000/d-solo/Vacuumsystem?orgId=1&panelId=3`;

        // Dynamically set the iframe src using the variable
        document.getElementById("grafana-temp1").src = iframeSrcTemp1;
        document.getElementById("grafana-temp2").src = iframeSrcTemp2;
        document.getElementById("grafana-pressure").src = iframeSrcPressure;
    </script>
{% endblock %}